
html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    font-size:12px;
    height:100%;
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.App{
    padding-bottom:.48rem;
}